$color-white: #FFFFFF;
$color-dark: #202027;
$color-green: #BCEC30;
$color-light-green: #E1FF8F;
$gap: 32px;
$font-weight-base: 400; 
$font-weight-small: 500; 
$font-weight-large: 600;
$font-size-small: 24px;
$font-size-medium: 32px;
$font-size-large: 48px;
$font-size-Megalarge: 64px;