@import "vars";

* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth; 
}
body {
  font-family: "Montserrat", serif;
  background-color: $color-dark;}

a {
  text-decoration: none;}

li {
  list-style-type: none;}

.center {
  padding-left: max(16px, calc(50% - 600px));
  padding-right: max(16px, calc(50% - 600px));
  box-sizing: border-box;}

.header {
  background-size: 57px;
  height: 710px;
  background-color: #E1FF8F;

  &__container {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 48px;
    z-index: 2;
  }

  &__content{
    max-width: 769px;
    display: flex;
    gap: 24px;
    flex-direction: column;
  }

  &__slogan {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0px;
    vertical-align: middle;
    max-width: 744px;
    &--highlight{
  font-weight: 600;}
  }


  &__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: 0px;
  vertical-align: middle;}}
  .navigation{
  background-color: $color-green;
  height: 90px;
  display: flex;
  position: sticky;
  z-index: 2;
  overflow: hidden;
  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 51px;
    align-items: center;}

    &__link {
      white-space: nowrap;
      font-weight: 700;
      font-size: 30px;
      text-transform: uppercase;
      color: $color-dark;
    }
  }
.header{
  &-background {
  position: absolute;
  &-mobile{
    display: none;
  }}
  &__star {
    position: absolute;
  }
    &__star--1 {
      top: 94px;
      left: -57px;
    }
    &__star--2 {
      top: 69px;
      left: 36px;
    }
    &__star--3 {
      width: 37px;
      top: 538px;
      left: 828px;
    }
    &__star--4 {
      top: 568px;
      left: 893px;
    }
    &__starbig {
      left: 750px;
      border-width: 1px;
      top: -250px;
    }
    &__line--1 {
      width: 317px;
      height: 163px;
      top: -10px;
      left: 734px;
      border-width: 1px;
    }
    &__line--2 {
      width: 142px;
      height: 179px;
      top: 254px;
      left: 947px;
      border-width: 1px;
    }
    &__line--3 {
      width: 219.8815460205078px;
      height: 418px;
      top: 379px;
      left: 1105px;
      border-width: 1px;
    }
    &__line--4 {
      width: 34px;
      height: 124px;
      top: 663px;
      left: 1225px;
      border-width: 1px;
    }
    &__angle {
      width: 80px;
      height: 126px;
      top: 468px;
      left: 1127px;
      border-width: 1px;
    }
  }





  .main{
  &__background{
  position: absolute;
  z-index: 1;}
  &__star-big{
    margin-left: -73px;
    margin-top: 77px;
}}
.header__button{
  display: flex;
}
.button {
    &:hover {
      background-color: $color-dark;
      color: $color-white;
    }
    font-family: Montserrat;
    width: 247px;
    height: 66px;
    border-width: 1px;
    border-radius: 60px;
    padding-top: 16px;
    padding-right: 28px;
    padding-bottom: 16px;
    padding-left: 28px;
    background-color: $color-white;
    color: $color-dark;
    border: 1px solid #202027;
    font-weight: 600;
    font-size: 24px;
    line-height: 142%;
    text-align: center;
    cursor: pointer;
  }
.about {
    display: flex;
    gap: 24px;
    flex-direction: column;
    padding-top: 94px;
    padding-bottom: 72px;
    color: $color-white;
    position: sticky;
    z-index: 1;
    &__title {
      font-weight: 700;
      font-size: 64px;
      vertical-align: middle;
    }
    &__text  {
      font-weight: $font-weight-base;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: 0px;
      vertical-align: middle;
    }
  }
.games {
    display: flex;
    flex-direction: column;
    color: $color-white;
    position: sticky;
    z-index: 2;
    &__list{
      z-index: 2;  
    }  
    &__row{ 
    &--first {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: $gap;
    }
    &--second {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: $gap;
      align-items: end;
    }} 
  
    &__card{
      background-color: $color-white;
      box-shadow: 0px 12.61px 42.25px -7.57px #00000021;
      border-radius: 30px;
      width: 378px;
      overflow: hidden;
      grid-column: span 4;
        &:hover{
          transform: scale(110%);
        }
      &--1 {
        height: 473px;
      }

      &--2 {
        height: 512px;
      }

      &--3 {
        height: 473px;
      }

      &--4 {
        height: 551px;
      }

      &--5 {
        height: 512px;
      }

      &--6 {
        height: 551px;
      }
    }

    &__img {
      width: 378px;
      height: 314px;
      border-radius: 30px;
    }

    &__info {
      display: flex;
      gap: 10px;
      border-radius: 30px;
      padding-left: 32px;
      background-color: $color-white;
    }

    &__content {
      color: $color-dark;
      display: flex;
      gap: 16px;
      padding-top: 32px;
      flex-direction: column;
      padding-bottom: 32px;
      box-sizing: border-box;
      padding-left: 32px;}

      &__number {
        font-weight: 500;
        font-size: 16px;
        background-color: #F7F7F7;
        width: 108px;
        border-radius: 52.58px;
        padding-top: 8px;
        padding-bottom: 10px;
        text-align: center;
      }

      &__name {
        font-weight: 700;
        font-size: 32px;
        line-height: 100%;
      }
    }



.mini-games{
    display: flex;
    gap: 72px;
    flex-direction: column;
    color: $color-white;
    padding-top: 94px;
    padding-bottom: 144px;
    position: sticky;
    z-index: 2;
    &__grid{
    display: flex;
    gap: $gap;
    flex-direction: column;}
    &__info {
    display: flex;
    gap: 24px;
    flex-direction: column;}

    &__title {
      font-weight: 700;
      font-size: 64px;
      vertical-align: middle;
    }

    &__item {
      background-color: $color-white;
      box-shadow: 0px 12.61px 42.25px -7.57px #00000021;
      border-radius: 30px;
      overflow: hidden;
      height: 500px;
      display: flex;

      &--right {
        flex-direction: row-reverse;
        justify-content: space-between;
      }
  }

    &__img {
      width: 600px;
      height: 500px;
      border-radius: 30px;

    }

    &__about {
      display: flex;
      gap: 10px;
      border-radius: 30px;
      padding-left: 48px;
      background-color: $color-white;
    }

    &__card-content {
      color: $color-dark;
      display: flex;
      gap: 36px;
      padding-top: 48px;
      flex-direction: column;
      padding-bottom: 46px;
      box-sizing: border-box;
      padding-left: 48px;}
    &__card-text{
    display: flex;
    gap: 24px;
    flex-direction: column;
    }
    &__card-title{
      font-weight: 700;
      font-size: 48px;
      vertical-align: middle;
      }
    &__card-description {
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        width: 457px;
      }
      }

footer{
  height: 150px;
  background-color: #BDED35;
  display: flex;
  justify-content: center;
  align-items: center;
    &__text{
      font-weight: 600;
      font-size: 24px;
      text-align: center;
      vertical-align: middle;
    }}
    
@import 'mobile';
